<div class="row align-items-center justify-content-center">
    <%= @feedback.title %>
    <%= @feedback.advice %>
    <%= @feedback.rating %>
    <%= @feedback.date_interacted %>
    <%= @feedback.user.email %>
</div>

<div>
  <%= link_to 'Respond to this feedback', chatrooms_path(current_user, @feedback.user_id), method: :post, class: 'btn btn-primary' %> 
  <%#= link_to 'Respond to this feedback', chatrooms_path(@chatroom.message.user_id: current_user.id), method: :post, class: 'btn btn-primary' %> 
</div>
